@font-face {
  font-family: 'AkzidenzGroteskBQ';
  src: url('../font/AkzidenzGroteskBQ-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBQ';
  src: url('../font/AkzidenzGroteskBQ-Reg.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBQ';
  src: url('../font/AkzidenzGroteskBQ-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBQ';
  src: url('../font/AkzidenzGroteskBQ-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'BugrinoTrials';
  src: url('../font/BugrinoTrials-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'BugrinoTrials';
  src: url('../font/BugrinoTrials-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'BugrinoTrials';
  src: url('../font/BugrinoTrials-Bold.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
